
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<script type="application/javascript" src={{ static_url("lib/tabulator.min.js") }} charset="utf-8"></script>
<link rel="stylesheet" href={{ static_url("lib/tabulator.min.css") }}>
<title>Statistical Profile Viewer</title>
</head>
<body>
    <h2 id="tab_title"></h2>
    <div id="statprof-table"></div>
<script type="text/javascript">

var data = JSON.parse('{% raw json_encode(statprof_data) %}');
var tabledata = data.table;

var title =  "Statistical Profile for {{escape(statprof_data['srcfile'])}}";
document.title = title;
document.getElementById("tab_title").innerHTML = title;

var table =
    new Tabulator("#statprof-table", {
        // set height of table (in CSS or here), this enables the Virtual DOM and
        // improves render speed dramatically (can be any valid css height value)
        height: 650,
        data: tabledata, //assign data to table
        layout:"fitDataFill", //"fitDataFill", fitColumns
        initialSort:[             //set the initial sort order of the data
		    {column: "hits", dir: "desc"},
	    ],
        columns:[ //Define Table Columns
                {title: "Line", field:"line_number", align:"right", sorter:"number"},
                {title: "File", field:"fname", align:"left"},
                {title: "Hits", field:"hits", align:"right", sorter:"number"},
                {title: "Function", field:"func", align:"left"},
        ],
        rowClick: function(e, row) {
            let cells = row.getCells();
            let fname = cells[1].getValue();
            let linenum = cells[0].getValue();
            let val = fname + "&" + linenum;
            window.location = "/heatmap/" + encodeURIComponent(val);
        },
});
</script>
</body>
</html>
